 <!-- About -->
 <div class="section about dark-image" id="section2">
        <div class="container">
          <div class="commen-containe">
            <div class="row">
              <div class="col-md-10 offset-md-1">

                <div class="about-section section-title title">
                  <h1 class="text-center">About us</h1>
                  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</p>
                </div>

              </div><!-- End col -->
            </div><!-- End row -->

            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="about-chart">
                  <div class="col-sm-4">
                    <div class="countdown count-dark">
                      <div class="easy-pie-chart count-panal" data-percent="90">
                        <div class="percent-container percent-dark">
                          <span class="percent">90</span>
                        </div>
                      </div>
                      <h1>Photoshop</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="countdown count-dark">
                      <div class="easy-pie-chart count-panal" data-percent="78">
                        <div class="percent-container percent-dark">
                          <span class="percent">78</span>
                        </div>
                      </div>
                      <h1>illustrator</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="countdown count-dark">
                      <div class="easy-pie-chart count-panal" data-percent="67">
                        <div class="percent-container percent-dark">
                          <span class="percent">67</span>
                        </div>
                      </div>
                      <h1>Well documented</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>

                </div><!-- End about-chart -->
              </div><!--End col -->
            </div><!-- End row -->
          </div><!-- End commen-containe --> 
        </div><!-- End container -->
      </div><!-- End section -->