
<div class="section about flat-color3" data-menuanchor="blockchain">
    <!-- <section class="about-section" id="about"> -->
    <div class="container">
        <div class="commen-containe">
            <div class="row">
                <div class="col-sm-10 offset-md-1">
                    <div class="about-section common section-title title hp_block">
                        <!-- <h1 class="text-center"><%= __('common.menu.blockchain') %></h1> -->
                        
                        <%- __('blockchain-detail') %>
                        <div class="text-center">
                            <img src="/images/diagram1.svg" class="img-fluid" alt="Blockchain Video Evaluation" />
                        </div>
                    </div>
                </div><!-- end of /.coloumn -->
            </div><!-- End row -->
        </div><!-- End commen-containe --> 
    </div><!-- End container -->
</div><!-- End section -->
