 <!--PURPOSE-->
 <div class="section services flat-color2" data-menuanchor="purpose">
    <div class="container">
      <div class="commen-containe">
        <div class="row">
          <div class="col-md-10 offset-md-1">

            <div class="services-section common section-title title hp_block">
              <h1 class="text-center"><%= __('common.menu.purpose') %></h1>
                <!-- <p class="text-center"> -->
                  <!-- <div class=""> -->
                    <img style="float:left; width:58%" src="/images/diagram1.svg" class="img-fluid" alt="Blockchain Video Evaluation" />
                    <%- __('purpose-detail') %>
                    
                    
                  <!-- </div> -->
                    
                <!-- </p> -->
            </div>

          </div><!--end col-->
        </div><!--end row-->

      </div><!-- End commen-containe -->
    </div><!-- End container -->
</div><!-- End section -->
