
 <!--subscribe-->
 <div class="section subscribe dark-image" id="section1">
    <div class="container">
      <div class="commen-containe">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="subscribe-section section-title title">
              <h1 class="text-center">subscribe to our newsletter</h1>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</p>
  
              <p class="email">Type your email address</p>
  
              <div class="confirm-message  text-center">
                <form class="text-center" action="#" id="subscribe-form" method="get">
                  <div class="input-group group-dark">
                    <input type="email" class="form-control dark-control" id="mce-EMAIL" name="EMAIL" placeholder="Join Newsletter" required>
                    <span class="input-group-btn">
                      <button class="subscribe-submit submit-darkbtn" type="submit" id="scribebtn" name="scribebtn">Subscribe</button>
                    </span>
                  </div>
                  <label for="mce-EMAIL"></label>
                </form>
              </div><!-- confirm-message -->
            </div><!-- End subscribe -->
          </div><!-- End col -->
        </div><!-- End row -->
      </div><!--End commen-containe -->
    </div><!-- End container -->
  </div><!-- End subscribe section -->