<footer class="footer onstart animated dark-copyright" data-animation="fadeInUp" data-animation-delay="800">
    <nav class="social text-center">
      <ul>
        <li><a href="#" class="social-link instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#" class="social-link reddit"><i class="fa fa-reddit" aria-hidden="true"></i></a></li>
        <li><a href="#" class="social-link twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#" class="social-link telegram"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
      </ul>
    </nav>

    <p class="copyright">© 2018 DORA Coin - All Rights Reserved. Design by Tripaco</p>
</footer>