<div id="500" v-cloak>
  <div class="guide_page">
    <div class="guide_content text-center">
      <img class="guide_icon" src="/images/error/icon_pc_error_3x.png" alt="">
      <p class="dark-thinks-font guide_heading">
          <%- __('unexpected-error') %>
      </p>
      <p class="dark-body-font guide_p"><%- __('help-request') %></p>
      <div class="guide_button">
        <a class="large-button phone-button" href="/contact">
          <%- __('help-button-text') %>
        </a>
      </div>
    </div>
  </div>
</div>
