<div id="404" v-cloak>
  <div class="container">
    <div class="common-container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center">The page you seek doesn't exist.</h2>
          <div class="alert alert-warning col-md-8 mx-auto">
            <i class="fa fa-exclamation-circle fa-1x"></i>
            <p>
              <%- __('let-us-know-error') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>