<div id="500" v-cloak>
    <div class="container">
      <div class="common-container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center"><%- __('unexpected-error') %></h2>
            <div class="alert alert-warning col-md-8 mx-auto">
                <i class="fa fa-exclamation-circle fa-1x"></i>
                <p><%- __('help-request') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>