<div id="terms">
  <div class="container">
    <div class="common-container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="col-md-10 offset-md-1"></div>

          <div class="services-section common section-title title">
            <h1 class="text-center"><%= __('term-of-use-label') %></h1>
            <!-- <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</p> -->
          </div>
          <%- __('terms-condition-content') %>
        </div>
        <!--end col-->
      </div>
      <!--end row-->

    </div>
    <!--End-commen-containe-->

  </div>
  <!--End-container-->
</div>
<!--End section-->
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>