<!DOCTYPE html>
<html>

<head>
  <title>
    <%= __('common.app.name') %>
  </title>

  <% /* Viewport tag for sensible mobile support */ %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% /* Script tags should normally be included further down the page- but scripts
    that load fonts are a special exception to the rule.  (We include them up here
    above the «body» to prevent the page flickering when fonts load.)  */ %>
  <!-- Font Awesome -->
  <!-- <script src="/js/fontawesome/fontawesome.min.js"></script> -->
  <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <% /* Auto-injected «link» tags: */ %>
  <!--STYLES-->
  <link rel="stylesheet" href="/dist/production.min.3de7b219.css">
  <!--STYLES END-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Poppins" rel="stylesheet">

</head>

<body class="dark-image" <% if (typeof fullPage !='undefined' ) { %> id = "firstPage"
  <% } %> >
  <!-- Preloader -->
  <!-- <div id="preloader">
    <div id="status">
      <div class="spinner">
        Loading...
      </div>
    </div>
  </div> -->
  <!-- End Preloader -->

  <!--nav-->
  <header class="header">
    <%- include navbar %>
  </header>

  <% if (typeof fullPage != 'undefined') { %>
  <div id="fullpage">
    <div class="overlay-demo"></div>
    <div class="pages-body"><%- body %></div>
  </div>
  <% } else{ %>
  <div class="overlay-demo"></div>
  <div class="pages-body"><%- body %></div>
  <% } %>

  <footer class="footer onstart animated dark-copyright" data-animation="fadeInUp" data-animation-delay="800">
    <div id="origin_link" class="d-md-flex align-items-md-center">
      <div class="origin_link_box d-flex flex-md-column justify-content-center">
        <a class="youtube" href="https://www.youtube.com/channel/UCbmz5QqvyQAwcwYwCAV2z6Q/videos"></a>
        <a class="tweeter" href="https://twitter.com/dora_media"></a>
        <a class="facebook" href="https://www.facebook.com/dora.webmedia"></a>
      </div>
    </div>

    <p class="copyright text-center">© 2018 DORA Coin - All Rights Reserved.</p>
  </footer>

  <% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

  <% /* Load Stripe Checkout */ %>
  <!-- <script src="https://checkout.stripe.com/checkout.js"></script> -->

  <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
  <!-- <script>
          delete window.self;

        </script> -->

  <% /* Auto-injected «script» tags: */ %>
  <!--SCRIPTS-->
  <script src="/dist/production.min.c2174296.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
