<div id="contact" v-cloak>
<div class="container">
    <div class="common-container">
            <%- include ../partials/inquiry %>
    </div>
</div>
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>